[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = git@github.com:golden1232004/jsoncpp.git
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = git@github.com:golden1232004/libyuv.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = git@github.com:golden1232004/opus.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = git@github.com:golden1232004/ffmpeg.git
[submodule "third_party/openh264"]
	path = third_party/openh264
	url = git@github.com:golden1232004/openh264.git
