[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = git@github.com:golden1232004/jsoncpp.git
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = git@github.com:golden1232004/libyuv.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = git@github.com:golden1232004/opus.git
